@{
    ViewData["Title"] = "Contato";
}

<nav class="Contatos">
    <h2>Opções de contato:</h2>
    <ul>
        <li>
            <a href="#">Fone: (69)99999-9999</a>
        </li>
        <li>
            <a href="Vendas-Online@vendas.com">e-Mail</a>
        </li>
        <li>
            <a href="https://facebook/Vendas-Online">Facebook</a>
        </li>
        <li>
            <a href="https://VendasOnline/Instagram">Instagram</a>
        </li>
    </ul>
</nav>
