@{
    ViewData["Title"] = "Página Inicial";
}

<div class="Tela-Inicial">
    <h1 class="display-4">Bem vindo ao Site de Vendas Online!</h1>
    <p>Projeto Disponível no <a href="https://github.com/lp-martins/SistemaResponsivo" target="_blank">GitHUB</a>.</p>
</div>
