@{
    ViewData["Title"] = "Relógios";
}

<nav class="bodyMain">
    <div class="row">
        <div class="col">
            <section class="slider5">

                <ul id="autoWidth5" class="cs-hidden5">

                    <li class="item-1">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-1.jpg" alt="1">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$225,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-2">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-2.jpg" alt="2">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$228,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-3">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-3.jpg" alt="3">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$226,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-4">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-4.jpg" alt="4">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$225,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-5">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-5.jpg" alt="5">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$229,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-6">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-6.jpg" alt="6">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$227,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-7">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-7.jpg" alt="7">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$229,00</a>
                            </div>

                        </div>
                    </li>
                </ul>

            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section class="slider6">

                <ul id="autoWidth6" class="cs-hidden6">

                    <li class="item-8">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-8.jpg" alt="8">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$232,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-9">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-9.jpg" alt="9">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$232,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-10">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-10.jpg" alt="10">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$232,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-11">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-11.jpg" alt="11">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$234,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-12">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-12.jpg" alt="12">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$235,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-13">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-13.jpg" alt="13">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$234,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-14">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-14.jpg" alt="14">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$235,00</a>
                            </div>

                        </div>
                    </li>
                </ul>

            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section class="slider7">

                <ul id="autoWidth7" class="cs-hidden7">

                    <li class="item-15">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-15.jpg" alt="15">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$338,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-16">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-16.jpg" alt="16">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$339,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-17">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-17.jpg" alt="17">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$438,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-18">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-18.jpg" alt="18">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$339,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-19">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-19.jpg" alt="19">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$339,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-20">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-20.jpg" alt="20">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$440,00</a>
                            </div>

                        </div>
                    </li>
                    <li class="item-21">
                        <div class="box">

                            <div class="slider-img">
                                <img src="~/img/relogio-21.jpg" alt="21">

                                <div class="overlay">
                                    <a href="#" class="btn-comprar">COMPRAR</a>
                                </div>

                            </div>

                            <div class="detalhe-box">
                                <div class="type">
                                    <a href="#">Descrição do Item</a>
                                    <span>Indisponível</span>
                                </div>
                                <a href="#" class="preco">R$540,00</a>
                            </div>

                        </div>
                    </li>
                </ul>

            </section>
        </div>
    </div>
</nav>
